<!-- page content : START -->
<div id="page"> </div>
<!-- page content : END -->

<!-- global content : START -->
<div id="subNav"></div>
<div id="info" class="tab" style="display:none;">
	<h1 class="tabTitle" title="About this experiment">About</h1>
	<div class="tabContent">
		<div class="insetBox">
			<h2 class="postTitle">Ping!</h2>
			<p class="postContent"></p>
		</div>
		<div class="insetAttr"></div>
	</div>
</div>
<div id="contact" class="tab">
	<h1 class="tabTitle" title="My infos &amp; other projects">Contact</h1>
	<div class="tabContent">
		<p class="insetBox">
			<img class="avatar" src="img/avatar-ani.gif" alt="Adjusting picture..." title="Wheeee!!..." /> 
			<span>Hi! I'm Matt. Busticated.org is where I play around with code and learn how to break things in (hopefully) interesting ways. Enjoy!</span>
		</p>
		<ul class="insetList">
			<li><a href="http://chrln.com" title="Why yes, I play the rock music">charlene</a></li>
			<li><a href="http://www.thebrobots.com" title="Awesome music tumblog I contribute to">brobots!</a></li>
			<li><a href="http://twitter.com/b_sted" title="@b_sted">twitter</a></li>
			<li><a href="http://forrst.com/people/busticated" title="Desgin &amp; code nerding">forrst</a></li>
			<li><a href="http://scr.im/bstcted" title="Say hello!">email</a></li>
		</ul>
	</div>
</div>
<div id="feed">
	<a href="feed.rss" title="Click for the RSS feed"><img src="img/icn-feed-sm.png" alt="alert!" height="19" width="19" /></a>
</div>
<div id="disclaimer" class="alert">
	<span title="guaranteed to make IE cry"><img src="img/icn-alert-sm.png" alt="alert!" height="19" width="19" /><strong>Warning:</strong> Browser-smashing Javascript ahead!</span>
</div>
<div id="loading">
	<p>
		<img src="img/loading.gif" alt="loading..." />
	</p>
</div>
<!-- global content : END -->