<div id="stage">
	<div id="detectedAlert">
		<span id="close">x</span>
		<p><strong>ALERT!! &gt; &gt; &gt; &gt; &gt; &gt; &gt;</strong></p>
		<p><span id="detectedDate">24 October 1944</span></p>
		<p>latitude 20°-41'N</p>
		<p>longitude 118°-27'E</p>
		<p>sonar contact established</p>
		<p>manning battle stations</p>
		<p><a href="http://twitter.com/?status=Sub+huntin'+w%2F+%40b_sted+http%3A%2F%2Fbusticated.org%3Fp%3Dping">ATTACK!!</a></p>
	</div>
</div>
<audio id="ping" autobuffer>
	<source src="audio/ping.ogg" type="audio/ogg" />
	<source src="audio/ping.mp3" type="audio/mpeg" />
</audio>
<audio id="ping2">
	<source src="audio/ping2.ogg" type="audio/ogg" />
	<source src="audio/ping2.mp3" type="audio/mpeg" />
</audio>